<div class="wine-club bg-overlay bg-overlay-bg" loading="lazy" style="+margin-top: -200px; background-image: url({{ section.settings.wine-club-bg | img_url: 'master'}});" >  
    {% if section.settings.image_overlay %}
    <div class="bg-overlay-fliter"></div>
    {% endif %}
    <div class="sec-inner">
        <div class="bg-overlay-content-wrapper">
            <img src="" class="bg-overlay-bg" alt="" loading="lazy">
            <div class="container">
                <div class="bg-overlay-content br-cut">
                    <h2 style="color:{{ section.settings.Heading_color }};">{{ section.settings.title }}</h2>
                    <p style="color:{{ section.settings.Heading_color }};font-size: 16px;">{{ section.settings.detail-box-txt }}</p>
                    <a href="{{ section.settings.btn-url }}" class="alvisBtn alvisBtn--orange">{{ section.settings.btn-txt }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
  
  .bg-overlay-content-wrapper .br-cut h2 {
    opacity: 1;
  }
  
  .bg-overlay-content-wrapper .br-cut p {
    opacity: 1;
  }
  
  .bg-overlay-fliter {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block!important;
    background-color: rgba(0,0,0,0.4);
  }
  
</style>

{% schema %}
  {
    "name": "Call To Action",
    "settings": [
	  {
        "type": "image_picker",
        "id": "wine-club-bg",
        "label": "Background Image"
      },
	  {
          "type": "checkbox",
          "id": "image_overlay",
          "default": false,
          "label": "Image Overlay"
        },
		{
            "type": "select",
            "id": "Heading_color",
            "label": "Text Colour",
            "options": [
				{
                "value": "#c65336",
                "label": "Dark Orange"
              }, 
              {
                "value": "#2e112d",
                "label": "Dark Plum"
              },
			  {
                "value": "#480115",
                "label": "Dark Maroon"
              },
              {
                "value": "#721326",
                "label": "Dark Red"
              },
              {
                "value": "#5c6e67",
                "label": "Dark Olive"
              },
              {
                "value": "#6b7231",
                "label": "Dark Green"
              },
              {
                "value": "#2d5980",
                "label": "Dark Navy"
              },
              {
                "value": "#6287e0",
                "label": "Dark Blue"
              },
              {
                "value": "#867065",
                "label": "Dark Tan"
              }

            ],
            "default": "#c65336"
          },
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
		"default": "Wine Club"
      },
	  {
        "type": "text",
        "id": "detail-box-txt",
        "label": "Text",
        "default": "Join the Alvi’s Drift wine club and become part of our community of wine enthusiasts from all around the world. Members receive exclusive offers, content, invitations to special events, access to members-only competitions and promotions, rewards and more."

      },
	  {
        "type": "text",
        "id": "btn-txt",
        "label": "Button Text",
		"default": "FIND OUT MORE"
      },
	  {
        "type": "url",
        "id": "btn-url",
        "label": "Button URL"
      }
],
  "presets": [
    {
      "name": "Call To Action"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
