<section class="home-product-items product-items-sec bg-darkPurple">
  <div class="sec-inner">
    <div class="container">
      <h1>{{ section.settings.topheading }}</h1>
      <div class="product-tabs">
        <ul>


          {%- for block in section.blocks -%}

          {%- assign b_i = block.settings -%}


          <li class="tabs-btn  {% if forloop.first == true %}current{% endif %}" data-tab="tab-{{ forloop.index }}">{{ b_i.collection_heading }}</li>

          {%- endfor -%}	

        </ul>
      </div>
      <div class="tabs-content">

        {%- for block in section.blocks -%}

        {%- assign b_i = block.settings -%}




        <div id="tab-{{ forloop.index }}" class="product-items-wrap {% if forloop.first == true %}current{% endif %}">

          <div class="product-bx-outer">

            {% assign colName = b_i.collectionCarasoul %} 

            {% for product in collections[colName].products %}



            <div class="product-bx" style="padding-bottom: 0;">
              <div class="product-img">
                <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url:'master' }}" alt=""></a>
              </div>
              <div class="product-title" style= "padding= 5px; color: #E36653;">
                <div class="sp-t"><a href="{{ product.url }}">{{ product.title }}</a></div>
              </div>
              {% if product.compare_at_price > product.price %}
              <div class="product-price"><span class="compare-price">{{ product.compare_at_price | money | remove: '.00' | replace: ",", " " }}</span> {{ product.price | money | remove: '.00' | replace: ",", " " }}</div>
              {% else %}
              <div class="product-price">{{ product.price | money | remove: '.00' | replace: ",", " " }}</div>
              {% endif %}
             
              <!-- Start Add to cart button -->
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <span class="product-form__error-message"></span>
                </div>
                  {%- form 'product', product, id: product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

                  <div class="qty__wrapper">
                    QTY: <input class="quantity__input" type="number" name="quantity" id="quantity" min="1" value="1" {%- if product.selected_or_first_available_variant.available -%}{%- else -%}disabled{%- endif -%}>                  
                  </div>
                    
                  <div class="product-form__buttons">
                    <button
                            type="submit"
                            name="add"
                            class="btn btn-overlay"
                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                            >
                      <span>
                        {%- if product.selected_or_first_available_variant.available -%}
                        BUY
                        {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      </span>
                      <b>{{ product_item.price | money | remove: '.00'  }}</b>
                      <div class="loading-overlay__spinner hidden">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </button>

                  </div>
                  {%- endform -%}
                  </product-form>
                <!-- End Add to cart button -->

                </div>

              {% endfor %}



            </div>


            <div class="product-bx-outer product-bx-mobile" style="display:none">
              <div class="slider product-slider">


                {% for product in collections[colName].products %}



                <div class="product-bx">
                  <div class="product-img">
                    <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url:'master' }}" alt=""></a>
                  </div>
                  <div class="product-title">
                    <div class="sp-t">{{ product.title }}</div>
                  </div>
                  <!-- Start Add to cart button -->
                  <product-form class="product-form">
                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"></svg>
                        <span class="product-form__error-message"></span>
                        </div>
                      {%- form 'product', product, id: product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                      <input class="quantity__input" type="hidden" name="quantity" id="Quantity-template--15114413473959__main" min="1" value="1" form="product-form-template--15114413473959__main">                  
                      <div class="product-form__buttons">
                        <button
                                type="submit"
                                name="add"
                                class="btn btn-overlay"
                                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                >
                          <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                            ADD TO CART
                            {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <b>{{ product_item.price | money | remove: '.00' }}</b>
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>

                      </div>
                      {%- endform -%}
                      </product-form>
                    <!-- End Add to cart button -->
                    </div>

                  {% endfor %}


                </div>
              </div>
            </div>

            {%- endfor -%}


            
           
           
            
            
          </div>
        </div>
      </div>
      </section>

    {% schema %}
    {
    "name": "Gifts Grid",
    "settings": [
    {
    "type": "text",
    "id": "topheading",
    "label": "Heading"
    }

    ],
    "blocks": [
    {
    "type": "item",
    "limit": 12,
    "name": "Choose Collection",
    "settings": [
    {	
    "type": "text",
    "id": "collection_heading",
    "label": "Collection Name"
    },
    {
    "type": "collection",
    "id": "collectionCarasoul",
    "label": "Choose Collection"

    }

    ]
    }

    ],
    "presets": [
    {
    "name": "Gifts Grid",
    "category": "Collection",
    "blocks": [
    {
    "type": "item"
    }
    ]
    }
    ]
    }
    {% endschema %}
    {% stylesheet %}

    {% endstylesheet %}