{% comment %}
Wine Club template for use w/ SC Loyalty Rewards Shopify App
logged-out customers see info about wine club, logged in see's account details (tier, points, etc)
{% endcomment %}

{{ 'wine-club.css' | asset_url | stylesheet_tag }}
<section style = "background:#b59a88"> 
{% if customer.has_account %}
  {% comment %} logged in view {% endcomment %}

  {% assign lowertags = customer.tags | downcase %}
  {% capture customer_tier_name %}
    {% if lowertags contains 'gold' %}
      Gold
    {% elsif lowertags contains 'silver' %}
      Silver
    {% elsif lowertags contains 'bronze' %}
      Bronze
    {% endif %}
  {% endcapture %}
  
  {% assign customer_tier = customer_tier_name | strip %}
  {% capture tier_badge_name %}{{ customer_tier }}_large.webp{% endcapture %}
  
  
{% if customer %}
  <section class="awc-hero">
    <div class="container">
      <div class="awc-hero--content">
        <h1 class="h1">Alvi's Drift Wine Club</h1>  
          <p>{{ customer_tier }} Tier Members Portal</p>
        <div class="awc-promo--btn">
          {% if customer_tier == 'Bronze' %}
          <a class="alvisBtn" href="/collections/club">SHOP NOW</a>
          {% elsif customer_tier == 'Silver' %}
          <a class="alvisBtn" href="/collections/club-silver">SHOP NOW</a>
          {% elsif customer_tier == 'Gold' %}
          <a class="alvisBtn" href="/collections/club-gold">SHOP NOW</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="awc-bg" style="background-image:url({{ 'alvis-hero-alt-bg.jpg' | file_url }});"></div>
  </section>
  
  <section class = "home-aboutus focusTextSection bg-darkPurple text-center" style = "background:#b59a88;max-width:100%">
      <div class = "sec-inner" style = "margin:0; padding-top:90px ">
        <div class = "container">
        <div>
          <h1 style = "color:#ffffff">The Best Viognier</h1>
        </div>
          <p class = "textAnimate">Renowned for our vast Viognier plantings, we are South Africa's top bottled wine producer of this exceptional wine.</p>
          <p class = "textAnimate">We've won Best Viognier in South Africa.<br><strong>And now we've made it even better.</strong></p>
        </div>
      </div>
  </section>
  
{% else %}

  <section class="awc-hero">
    <div class="container">
      <div class="awc-hero--content">
        <h1 class="h1">Alvi's Drift Wine Club</h1> 
        <p>Not a member of the Wine Club yet?</p>
        <div class="awc-promo--btn">
          <a class="alvisBtn" href="https://alvisdrift.co.za/account/register/" target="_blank">JOIN NOW</a>
        </div> 
      </div>
    </div>
    <div class="awc-bg" style="background-image:url({{ 'alvis-hero-alt-bg.jpg' | file_url }});"></div>
  </section>
  
{% endif %}
</section>


  
{% section 'Collections-Grid' %}
  <section class="awc-member">
    <div class="container">
      <div class="awc-member--layout">
        <div class="awc-member--col">
          <h5 class="awc-heading-xs">You Are</h5>
          <h3 class="h1">{{ customer_tier }} Tier</h3>
          <figure>
       {% if customer_tier == 'Bronze' %}
           <img src="{{ 'Bronze_large.webp' | file_url }}" width="200" height="200" alt="wine club {{ customer_tier | downcase }} tier badge" />
          {% elsif customer_tier == 'Silver' %}
               <img src="{{ 'Silver_large.webp' | file_url }}" width="200" height="200" alt="wine club {{ customer_tier | downcase }} tier badge" />
          {% elsif customer_tier == 'Gold' %}
           <img src="{{ 'Gold_large.webp' | file_url }}" width="200" height="200" alt="wine club {{ customer_tier | downcase }} tier badge" />
         {% else %}
         <img src="{{ 'Bronze_large.webp' | file_url }}" width="200" height="200" alt="wine club {{ customer_tier | downcase }} tier badge" />
          {% endif %}
          </figure>
        </div>
        <div class="awc-member--col">
          <p>Hi, {{ customer.first_name }}</p>
          <p>Welcome to our portal for {{ customer_tier }} tier members. This is where you can:</p>
          <ul>
            <li>Access your personal member's dashboard</li>
            <li>View your points status</li>
            <li>Get information about exclusive offers and promotions for {{ customer_tier }} tier members</li>
          </ul>
          {% if customer_tier == 'Bronze' %}
          <p>As a Bronze member, you do not yet qualify for a percentage discount on your wine purchases from our online shop. However, you will have access to exclusive, members-only offers, sales and promotions.</p>
          {% elsif customer_tier == 'Silver' %}
          <p>As a Silver member, you also qualify for a fantastic 5% discount* on all wine purchases from our online shop.</p>
          {% elsif customer_tier == 'Gold' %}
          <p>As a Gold member, you also qualify for a fantastic 10% discount* on all wine purchases from our online shop. </p>
          <p>You will also be eligible for exclusive invitations to VIP events and wine tastings.</p>
          {% endif %}
        </div>
      </div>

      <div class="awc-member--layout">
        <div class="awc-member--col">
          <h3 class="h1">Your Balance</h3>
          <p><strong>Total Spent: </strong> R<span id="customer-total-spent">{{ customer.total_spent }}</span></p>
          <!-- <p><strong>Average Spent:</strong> </p> -->
          <p><strong>Point Balance:</strong> <span id="awc-points-balance"></span></p>
          <!-- <p><strong>Customer Since:</strong> </p> -->
          <p><small><em>*Please note that Membership point and tier updates can take up to 24 hours to update.</em></small></p>
        </div>
        <div class="awc-member--col">
          {% if customer_tier == 'Bronze' %}
            <h3 class="h1">Go For Silver!</h3>
            <figure>
              <img src="{{ 'go-for-silver.webp' | file_url }}" width="400" height="159" />
            </figure>
            <p>As a Silver member, you also qualify for a fantastic 5% discount* on all wine purchases from our online shop.</p>
            <small><em>*Excluding selected sales and promotions.</em></small>
          {% elsif customer_tier == 'Silver' %}
            <h3 class="h1">Go For Gold!</h3>
            <figure>
              <img src="{{ 'go-for-gold.webp' | file_url }}" width="400" height="159" />
            </figure>
            <p>Should you reach 10 000 points or more and progress to Gold membership, you will receive 10% discount* on purchases from our online shop. </p>
            <p>You will also be eligible for exclusive invitations to VIP events and wine tastings.</p>
            <small><em>*Excluding selected sales and promotions.</em></small>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
  ;(function() {
    function handleLoad() {
     function formatNumberWithCommas(number) {
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            }
      var $widget = $('#blp-container');
      var $toggle = $widget.find('#nav-toggle-widget');
      $toggle.trigger('click');
      var $points = $widget.find('.point-summary--overview-balance__span');
      var totalPointsValue = $points.text();
      var formattedTotalPoints = formatNumberWithCommas(Number(totalPointsValue));
      $('#awc-points-balance').text(formattedTotalPoints);
    }
    window.addEventListener('load', function() {
      window.setTimeout(handleLoad, 1500);
    });
  })(); 
  </script>
{% else %}
  {% comment %} logged out view {% endcomment %}
  <section class="awc-hero">
    <div class="container">
      <div class="awc-hero--content">
        <h1 class="h1">Alvi's Drift Wine Club</h1>
        {% if customer %}
          <p>A world of wine, unique benefits, and value await…</p>
        <div class="awc-promo--btn">
          <a class="alvisBtn" href="https://alvisdrift.co.za/collections/club" target="_blank">Shop Now</a>
        </div>
      {% else %}
        <p>Not a member of the Wine Club yet?</p>
        <div class="awc-promo--btn">
          <a class="alvisBtn" href="https://alvisdrift.co.za/account/register/" target="_blank">Join Now</a>
        </div>
      {% endif %}
      </div>
    </div>
    <div class="awc-bg" style="background-image:url({{ 'alvis-wineclub-hero.jpg' | file_url }});"></div>
  </section>

  <section class="awc-intro">
    <div class="container">
      <div class="awc-intro--layout">
        <div class="awc-intro--col">
          <h4>Join our Alvi's Drift wine club to enjoy:</h4>
          <ul>
            <li>Members-Only Offers</li>
            <li>Exclusive Discounts</li>
            <li>Invites to One-of-a-Kind Events & Wine Tastings</li>
            <li>Exclusive Content About All Things Wine</li>
          </ul>
        </div>
        <div class="awc-intro--col"> 
          <p>What’s more, should you progress through our Wine Club’s three tiers to become a Gold member, you’ll enjoy 10% discount* on purchases from our online wine shop.</p>
          <p>Best of all? Our Alvi’s Drift Wine Club requires no recurring membership fees.</p>
          <small><em>*Excluding selected sales and promotions. Discount is automatically deducted at check-out.</em></small>
        </div>
      </div>
    </div>
  </section>
{%  endif %}
{% comment %}
<section class="awc-promo">
  <div class="container">
    <div class="awc-promo--content">
      <h5 class="awc-heading-xs">Wine Club Members Only</h5>
      <h2 class="h1">Wine Club Members' Special Offers</h2>
      {% if customer %}
        <div class="awc-promo--btn">
          <a class="alvisBtn" href="https://alvisdrift.co.za/collections/club" target="_blank">Shop Now</a>
        </div>
      {% else %}
        <p>Not a member of the Wine Club yet?</p>
        <div class="awc-promo--btn">
          <a class="alvisBtn" href="https://alvisdrift.co.za/account/register/" target="_blank">Join Now</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="awc-bg" style="background-image:url({{ 'alvis-promo-bg.jpg' | file_url }})"></div>
</section>
{% endcomment %}

  <section class="awc-tiers">
    <div class="container awc-tiers--title">
      <h2 class="h1">How it Works</h2>
      <p>There are three tiers in the Alvi's Drift Wine Club: Bronze, Silver and Gold. New members start on Bronze and, as you earn points, you'll be able to move up the tiers to receive extra benefits and discounts.</p>
      <p>To move up the tiers, simply shop in our <a href="https://alvisdrift.co.za/collections/all-wines" rel="noopener">online wine shop</a>. You earn 1 point* for every R1 spent. As you move up the tiers, you'll be eligible for more discount on our wines.</p>
      <p><small>* Points are calculated on amount spent in last 12 months. To remain on your tier make sure you maintain your minimum tier points.</small></p>
    </div>
    <div class="container awc-tiers--list">
      <ul>

        <li class="awc-tiers--item">
          <h5 class="awc-heading-xs">Wine Club</h5>
          <h3 class="h1 whiteTitle">Bronze</h3>
          <figure>
            <img src="{{ 'Bronze_large.webp' | file_url }}" width="200" height="200" alt="wine club bronze tier badge" />
          </figure>
          <p><strong>350 Points</strong></p>
          <h4>Tier Benefits</h4>
          <ul>
            <li>Monthly Newsletter</li>
            <li>Bespoke Wine Offers</li>
            <li>Exclusive Content</li>
          </ul>
        </li>
        <li class="awc-tiers--item">
          <h5 class="awc-heading-xs">Wine Club</h5>
          <h3 class="h1 whiteTitle">Silver</h3>
          <figure>
            <img src="{{ 'Silver_large.webp' | file_url }}" width="200" height="200" alt="wine club silver tier badge" />
          </figure>
          <p><strong>5 000 Points</strong></p>
          <h4>Tier Benefits</h4>
          <ul>
            <li>Monthly Newsletter</li>
            <li>Bespoke Wine Offers</li>
            <li>Exclusive Content</li>
            <li>One-of-a-Kind Events & Wine Tastings</li>
            <li>5% Discount</li>
          </ul>
        </li>
        <li class="awc-tiers--item">
          <h5 class="awc-heading-xs">Wine Club</h5>
          <h3 class="h1 whiteTitle">Gold</h3>
          <figure>
            <img src="{{ 'Gold_large.webp' | file_url }}" width="200" height="200" alt="wine club gold tier badge" />
          </figure>
          <p><strong>10 000 Points</strong></p>
          <h4>Tier Benefits</h4>
          <ul>
            <li>Monthly Newsletter</li>
            <li>Bespoke Wine Offers</li>
            <li>Exclusive Content</li>
            <li>One-of-a-Kind Events & Wine Tastings</li>
            <li>Mystery Gift (on 40 000 Points)</li>
            <li>10% Discount</li>
          </ul>
        </li>
      </ul>
      
    </div>
  </section>

  <section class="awc-reserve" style = "background:#210e21">
    <div class="container">
      <div class="awc-reserve--content">
        <h2 class="h1">Meet Our Reserve Range</h2>
        <p><strong>Our <a href="https://alvisdrift.co.za/products/reserve-cvc">Reserve range</a> showcases a fusion of our trademark fresh, primary-fruit style – with just a hint of the luscious and opulent barrel-fermented style of our Albertus Viljoen Icon range.</strong></p>
        <p>The wine labels on bottles from our Reserve range feature an illustration of Alvi’s Drift, the low-water bridge over the Breede River cutting through the family farm. Our patriarch, Albertus Viljoen “Oupa Alvi” van der Merwe, was instrumental in having this bridge built back in 1930. </p>
        <p>Oupa Alvi’s son Bertie started wine production on the family farm and today Bertie’s son, Alvi’s Drift winemaker Alvi van der Merwe produces the winery’s award-winning wines, enjoyed by wine lovers around the globe.</p>
      </div>
      <div class="awc-reserve--btn">
        <a class="alvisBtn" href="https://alvisdrift.co.za/collections/reserve-range" target="_blank">Explore Reserve Range</a>
      </div>
    </div>
  </section>


<script>
 $(document).ready(function() {
            function formatNumberWithSpaces(number) {
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ');
            }

            var $totalSpent = $('#customer-total-spent');
            var totalSpentValue = $totalSpent.text();

            var formattedTotalSpent = formatNumberWithSpaces(Number(totalSpentValue));
            $totalSpent.text(formattedTotalSpent);
        });
</script>
